.jumbotron{
	background-color: #323232;
	color: #fff;
	margin-top: 40px;
}

.footer{
	padding: 10px 10px 10px 10px;
	background-color: #323232;
	margin-bottom: 0px;
	margin-top: 10px;
	color: #fff;
}
.footer-class{
	padding-right: 10px;
}

a{
	text-decoration: none;
}

.card-subli{
	flex:1 200px;
	margin-top: 10px;
}

.btn-reserva{
	width: 100%;
	border-radius:0px;

}

.icon-class{
	padding-right: 10px;
	color: green;
}
.tab-content {
	padding-top: 14px;
}




