#linea{
    width: 100%;
    height: 1cm;
    background-color: #303030;
    margin: 0 auto;
    float: left;
}

#encabezado{
    margin-left: 2cm;
    float: left;
    width: 100%;
}

#izquierdo{
    width: 50%;
    float: left;
}
#derecha{
    width: 40%;
    float: left;
}
h1{
    font-family: Arial;
    font-size: 22px;
}

p{
    font-family: Arial;
    font-size: 16px;
}

#titulo{
    padding-top: 4.5cm;
}
#derecha2{
    float: right;
}

hr{
    width: 60%;
    background-color: #303030;
    margin: 0 auto;
}

table{
    padding-top: 1cm;
}

.botones{
    width: 6cm;
}

a.link {
    font-family: arial;
    font-size: 14px;
    display: block;
    color: white;
    background: #303030;
    text-decoration: none;
    text-align: center;
    padding: .3cm .3cm .3cm .3cm;
    border-radius: 8px 8px 8px 8px;
}

a.link:hover{
    background-color: #202020;
}


/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/02/2020, 04:57:09 PM
    Author     : jhasc
*/

