body{background-color: #fff;}
table{width: 55%; 
      height: auto;  
      padding: 1cm 1cm 1cm 1cm; 
      background-color: #1D1D1F;;
      border-spacing: 0;
      border-collapse: separate;
      border-spacing:  .2cm  .2cm;
      border-radius:7%;}
td{font-size: 16px; font-family: 'Arial'; text-align: justify;}
.boton{background-color: rgb(186, 57, 48);  width: 80%;padding: 20px 20px 20px 20px; color: white; }
input{
    outline: none;
    background-color: #dfe;
    border: 0;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Arial';
    font-size: 14px;}
label{color: #fff; text-align: left;}
.caja{
    padding: 10px 10px 10px 10px;
    width: 90%;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}
.caja2{
    padding: 10px 10px 10px 10px;
    width: 95%;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}
img{width: 4cm; height: 4cm;border-radius: 50%; border: 5px solid white;}

h1{font-family: 'Arial';font-size: 20px;}
.interno {
    background-color: #000;
    position: absolute;
    top: 2cm;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 50%;
    margin: auto;
}

.externo {position: relative;    background-color: #000;}
